* {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fff07d;
  margin: 0;
  /* padding: 20px; */
  overflow-x: hidden;
  z-index: -1;
}
h1 {
  font-size:48px;
  font-family: 'Josefin Sans', sans-serif;
  display:inline;
  color:black;
  padding-right:3em;
}
h2 {
  font-size:20px;
  font-family: 'Josefin Sans', sans-serif;
  display:inline;
  color:black;
  padding-left:2em;
  transition-duration:0.5s;
}
h3 {
  font-size:36px;
  font-family: 'Josefin Sans', sans-serif;
  color:black;
  transition-duration:0.5s;
}
h4 {
  font-size:36px;
  font-family: 'Josefin Sans', sans-serif;
  color:black;
  transition-duration:0.5s;
  margin:0px;
}
h5 {
  width:auto;
  font-size:24px;
  font-family: 'Montserrat', sans-serif;
  color:black;
  margin:0px;
  white-space:nowrap;
}
h6 {
  display:inline;
  font-size:24px;
  font-family: 'Montserrat', sans-serif;
  color:black;
  transition-duration:0.5s;
  margin:0px;
  padding-right:20px;
}
p {
  font-size:24px;
  font-family: 'Montserrat', sans-serif;
  padding:0px;
  margin:0px;
}
a {
  font-size:24px;
  font-family: 'Montserrat', sans-serif;
  text-decoration:none;
  color:black;
  padding:0px;
  margin:0px;
}
a h2:hover {
  transition: 0.2s;
  opacity:0.3;
}
a h3:hover {
  transition: 0.2s;
  opacity:0.3;
}
a h4:hover {
  transition: 0.2s;
  opacity:0.3;
}
a h6:hover {
  transition: 0.2s;
  opacity:0.3;
}
img {
  transition-duration:0.5s;
}
img:hover {
  transition:0.4s;
  opacity:0.6;
}
/* --------------------------------------- */
.header {
  width:100%;
  padding:5px 25% 20px 25%;
  /* margin-top:100px; */
  height:10vh;
  position:fixed;
  text-align:center;
  background-color:#fff07d;
  margin:0px;
  z-index:1;
}
.header_links {
  display:inline;
  width:50%;
}
.logo {
  padding-right:3em;
}
.about {
  background-color:white;
  width:100%;
  padding:20px 25% 10px 25%;
  height:auto;
  margin-top:2em;
}
.content {
  background-color:white;
  padding:20px;
}
.art {
  width:100%;
  padding:10px 0 10px 0;
  height:auto;
}
.footer {
  background-color:#fff07d;
  padding:30px 25% 30px 25%;
  height:10vh;
  text-align:center;
}
.footer p {
  display:inline;
}
.footer img {
  display:inline;
}
.artistAboutLeft {
  width:100%;
  padding:0px 120px 0px 280px;
}
.artistAboutRight {
  width:100%;
  padding:0px 280px 0px 120px;
}
.artistAboutLeftBio {
  padding:0px 80px 0px 180px;
}
.artistAboutRightBio {
  padding:0px 180px 0px 80px;
}
/* --------------------------------------- */
.border {
  padding:20px;
  background-color:white;
}
.row {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  text-align:left;
}
.columnLeft {
  max-width: 100%;
  padding:5px 10px 5px 10px;
}
.columnRight {
  max-width: 100%;
  padding:5px 10px 5px 10px;
}
.titleCard {
  width:100%;
  padding:15vh 20em 5vh 20em;
}
.gallery {
  width:100%;
  background-color:white;
}
.images {
  background-color:white;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1px;
  max-width: 100%;
}
.column {
  background-color:white;
  flex: 15%;
  max-width: 100%;
  padding: 0 2px;
}
.column img {
  margin-top: 3px;
  vertical-align: middle;
  width: 100%;
}
.vid_gallery {
  width:100%;
  padding-left:25%;
  padding-right:25%;
}
.contentText {
  width:90%;
}
.contentImage {
  width:10%;
}
.btn {
  border:2px solid black;
}
/* --------------------------------------- */
@media only screen and (max-width: 1024px) {
  .about {
    background-color:white;
    width:100%;
    padding:20px 10% 10px 10%;
    height:auto;
    margin-top:2em;
  }
  .titleCard {
    width:100%;
    padding:15vh 10em 5vh 10em;
  }
  .artistAboutLeft {
    width:100%;
    padding:0px 50px 0px 50px;
  }
  .artistAboutRight {
    width:100%;
    padding:0px 50px 0px 50px;
  }
  .artistAboutLeftBio {
    padding:0px 20px 0px 20px;
  }
  .artistAboutRightBio {
    padding:0px 20px 0px 20px;
  }
  .footer {
    background-color:#fff07d;
    padding:30px 10% 30px 10%;
    height:10vh;
    text-align:center;
  }
  h3 {
    font-size:28px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:10px;
    margin-bottom:10px;
  }
  p {
    font-size:20px;
  }
}
@media only screen and (max-width: 800px) {
  .header {
    width:100%;
    padding:5px 5% 20px 5%;
    /* margin-top:100px; */
    height:10vh;
    position:fixed;
    text-align:center;
    background-color:#fff07d;
    margin:0px;
    z-index:1;
  }
  .logo {
    padding-right:1em;
  }
  .about {
    background-color:white;
    width:100%;
    padding:20px 3% 10px 3%;
    height:auto;
    margin-top:2em;
  }
  .titleCard {
    width:100%;
    padding:15vh 1em 5vh 1em;
  }
  .artistAboutLeftBio {
    padding:0px 20px 0px 20px;
  }
  .artistAboutRightBio {
    padding:0px 20px 0px 20px;
  }
  .footer {
    background-color:#fff07d;
    padding:30px 3% 30px 3%;
    height:10vh;
    text-align:center;
  }
  h2 {
    font-size:16px;
    padding-left:5px;
  }
  h3 {
    font-size:24px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:10px;
    margin-bottom:10px;
  }
  h6 {
    display:block;
    font-size:24px;
    font-family: 'Montserrat', sans-serif;
    color:black;
    transition-duration:0.5s;
    margin-right:0px;
    padding-left:2px;
    padding-right:2px;
  }
  p {
    font-size:16px;
  }
}
@media only screen and (max-width: 415px) {
  .header {
    width:100%;
    padding:2px 1% 15px 1%;
    /* margin-top:100px; */
    height:10vh;
    position:fixed;
    text-align:center;
    background-color:#fff07d;
    margin:0px;
    z-index:1;
  }
  .logo {
    padding-right:0em;
  }
  .about {
    background-color:white;
    width:100%;
    padding:20px 3% 10px 3%;
    height:auto;
    margin-top:2em;
  }
  .titleCard {
    width:100%;
    padding:15vh 1em 5vh 1em;
  }
  .artistAboutLeft {
    width:100%;
    padding:0px 2px 0px 2px;
  }
  .content img {
    display:none;
  }
  .contentImage {
    width:10%;
  }
  .artistAboutRight {
    width:100%;
    padding:0px 2px 0px 2px;
  }
  .artistAboutLeftBio {
    padding:0px;
  }
  .artistAboutRightBio {
    padding:0px;
  }
  .footer {
    background-color:#fff07d;
    padding:30px 3% 30px 3%;
    height:10vh;
    text-align:center;
  }
  h2 {
    font-size:16px;
    padding-left:1em;
  }
  h3 {
    font-size:24px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:10px;
    margin-bottom:10px;
  }
  h6 {
    display:block;
    font-size:24px;
    font-family: 'Montserrat', sans-serif;
    color:black;
    transition-duration:0.5s;
    margin-right:0px;
    padding-left:2px;
    padding-right:2px;
  }
  p {
    font-size:16px;
  }
  video {
    margin-top:50px;
  }
}
